.reset {
    backface-visibility: visible;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0px;
    background-position-y: 0px;
    background-repeat: repeat;
    background-size: auto;
    border-bottom-color: inherit;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-collapse: separate;
    border-image-source: none;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-left-color: inherit;
    border-left-style: none;
    border-left-width: medium;
    border-radius: 0px;
    border-right-color: inherit;
    border-right-style: none;
    border-right-width: medium;
    border-spacing: 0px;
    border-top-color: inherit;
    border-top-style: none;
    border-top-width: medium;
    bottom: auto;
    box-shadow: none;
    box-sizing: content-box;
    caption-side: top;
    clear: none;
    clip: auto;
    color: black;
    content: normal;
    counter-increment: none;
    counter-reset: none;
    direction: ltr;
    display: inline;
    empty-cells: show;
    float: none;
    font-family: inherit;
    font-size: medium;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: auto;
    left: auto;
    letter-spacing: normal;
    line-height: normal;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: disc;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    max-height: none;
    max-width: none;
    min-height: 0px;
    min-width: 0px;
    opacity: 1;
    outline-color: invert;
    outline-style: none;
    outline-width: medium;
    overflow-x: visible;
    overflow-y: visible;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    page-break-after: auto;
    page-break-before: auto;
    page-break-inside: auto;
    perspective: none;
    perspective-origin: 50% 50%;
    position: static;
    quotes: “, ”, ‘, ’;
    right: auto;
    tab-size: 8;
    table-layout: auto;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-shadow: none;
    text-transform: none;
    top: auto;
    transform: none;
    transform-style: flat;
    transition-delay: 0s;
    -webkit-transition-delay: 0s;
    transition-duration: 0s;
    -webkit-transition-duration: 0s;
    transition-property: none;
    -webkit-transition-property: none;
    transition-timing-function: ease;
    -webkit-transition-timing-function: ease;
    unicode-bidi: normal;
    vertical-align: baseline;
    visibility: visible;
    white-space: normal;
    width: auto;
    word-spacing: normal;
    z-index: auto;
}
.yuno-black_overlay {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
}
.yuno-white_content {
    display: none;
    position: fixed;
    top: 3%;
    left: 31%;
    width: 40%;
    height: 50%;
    padding: 0px;
    border: 4px solid #252733;
    background-color: white;
    z-index: 1002;
    overflow: hidden;
}
#yuno-heading {
    color: #FFF;
    display: block;
    padding-bottom: 5px;
    margin-bottom: 15px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    -webkit-box-sizing: border-box;
}
yuno-a, #yuno-closeDialog {
    display: inline;
    float: right;
    padding-right: 5px;
    cursor: pointer;
    color: #787878;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
yuno-p {
    display: block;
    width: 100%;
    padding: 5px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
yuno-p input {
    width: 63%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#yuno-status {
    display: block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #FE0002;
    color: white;
    padding: 3px;
    text-align: center;
}
#yuno-form {
    width: 100%;
    display: block;
    padding: 10px;
    padding-right: 0;
    padding-bottom: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#yuno-footer {
    display: block;
    background: none;
    padding: 10px;
    margin-left: -10px;
    margin-right: 0px;
    margin-bottom: -24px;
    margin-top: 10px;
    border-top: none;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 60px;
}
#yuno-footer-link {
    display: block;
    background: none;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    -webkit-box-sizing: border-box;
    background: none;
    text-align: center;
    text-decoration: none;
    color: #268CD6;
}
#yuno-username, #yuno-password, #templateyuno-Label {
    width: 96%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 23px;
    width: 96%;
    padding: 18px;
    border-radius: 5px;
    border: 1px solid #BDBDBD;
}
#yuno-label1, #yuno-label2, #yuno-label3, #yuno-label4, #yuno-label5 {
    width: 30%;
    display: inline-block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#yuno-parentXpath, #templateyuno-Label {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: visible;
    height: 23px;
}
#yuno-selection {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: visible;
    height: 70px;
    width: 470px;
    border: 1px solid #ccc;
    outline: none;
    line-height: 1.5;
    padding: 0.5em;
}
#yuno-saveTemplate, #yuno-loginSubmit {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: button;
    cursor: default;
    background-color: #ccc;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    padding: 10px;
    background-color: #268CD6;
    box-shadow: 0px 2px 2px #777;
    margin-left: 200px;
    box-shadow: none;
    font-size: 18px;
}
#yuno-message {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 10px;
}
.yuno-white_content#yuno_ext_loginDialog {
    height: auto !important;
    padding: 20px;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(221, 221, 221, 1) 99%, rgba(237, 237, 237, 1) 100%);
}
.yuno-white_content#yuno-chartsDialog {
    display: block;
    left: 3%;
    width: 90% !important;
    height: 80%;
    overflow-x: scroll;
}
.yuno-white_content#yuno-chartsDialog > #yuno-heading {
    width: 22000px;
    text-align: left;
    padding-left: 50px;
}
.yuno-white_content#yuno-chartsDialog #yuno-closeDialog {
    float: left;
    margin-left: -30px;
}
yuno-a, #yuno-closedialog {
    border: 1px solid #aaa;
    border-radius: 50%;
    width: 25px;
    padding-left: 8px;
    padding-top: 0px;
    padding-bottom: 4px;
}
#yuno_ext_templateDialog {
    padding: 20px;
    height: auto;
    background: -webkit-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(221, 221, 221) 99%, rgb(237, 237, 237) 100%);
}

#yuno-selection{
    background: white;
}